.role-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}

.role-boxes {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.role-card {
  width: 220px;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #ddd;
  background: white;
}

.role-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.admin {
  border-left: 5px solid #5b63f6;
}

.user {
  border-left: 5px solid #22c55e;
}
